{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Choose Dependent Variable{% endblock %}</h1>
{% endblock %}


{% block content %}
	<p> Found the following variables from {{ fn }}
	</p>
	<form method="post"> 
		<div class="select-style">
			<select name="selected_variable">
				{% for i in coefficient_list %}
				<option value="{{ i }}" required> {{ i }}</option>
				{% endfor %}
			</select>
		</div>
		<input class="choosebutton" type="submit" value="SELECT VARIABLE">
	</form>
{% endblock %}