{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Text Input{% endblock %}</h1>
{% endblock %}


{% block content %}
	<p>
		This app currently calculates the mean of a series of columns. So if you want to calculate the mean 
		of observations x_1, x_2, x_3 and do the same for columns y and z, enter the data as </br>
		x_1, y_1, z_1 </br>
		x_2, y_2, z_2 </br>
		x_3, y_3, z_3 </br>
	</p> 
  <form method="post">
    <label for="data">Data</label>
    <textarea name="data" id="data">{{ request.form['data'] }}</textarea>
    <input type="submit" value="Find Column Means">
  </form>
{% endblock %}