{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}File Upload{% endblock %}</h1>
{% endblock %}


{% block content %}
	<p> Current supported file type is .csv
	Text column headers are required. </br> </br>
	Remember: to perform linear regression, we need at least as many rows as independent variables.
  <form method="post" enctype="multipart/form-data">
	<label for="file-upload" class="choosebutton">CHOOSE FILE</label>
	<input id="file-upload" type="file" name="the_file"/>
    <input class="submitbutton" type="submit" value="UPLOAD">
  </form>
{% endblock %}